* {
        margin: 0;
        padding: 0;

}



#nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 120px;
        background-color: #2d3f65;

}

#logo {

        font-size: 15px;
        font-weight: 700;
        color: white;
        letter-spacing: 1px;
        font-weight: 600;
}


#logo span {
        color: rgb(190, 157, 36);
}

#nav ul li {
        list-style: none;
}

#nav ul li a {
        display: block;
        margin: 0px 5px;
        text-decoration: none;
        color: #e4edee;
        margin: 15px 10px 0px 15px;
        padding: 6px 6px;
        font-weight: 500;
}

#nav ul li a:hover {
        background-color: rgb(53, 48, 48);
        border: 1px solid gray;
        border-radius: 20px;

}

#dropDownUl {
        margin-top: 20px;
}



#profileBtn {
        display: block;
        margin: 0px 5px;
        text-decoration: none;
        color: white;
        margin: 15px 10px 0px 15px;
        padding: 3px 6px;
        font-weight: 600;
        cursor: pointer;
}

#dropDownItem {
        text-decoration: none;
        font-size: 13px;
        width: 80px;
        text-align: center;
        padding: 5px;
}


.navlist {
        display: flex;
        align-items: center;

}








.formContainer {
        width: 500px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.433), rgba(0, 0, 0, 0.247)), url('images/contactBack.jpg');

}

.formContainer h3 {
        text-align: center;
        font-size: 20px;
        margin: 15px 0;
        color: rgba(252, 207, 9, 0.597);
}

.input {
        width: 400px;
        display: flex;
        justify-content: center;
        margin: auto;
        margin: 10px auto;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid gray;
}

#textArea {
        width: 400px;
        height: 100px;
}

.contactBtn {
        width: 60px;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid gray;
        margin: 0 0 10px 40px;
        color: whitesmoke;
        background-color: #2a4275;
        cursor: pointer;
}


.contactBtn:hover {
        background-color: #132856eb;
}




.footerContainer {
        width: 700px;
        height: 384px;
        background-image: linear-gradient(rgba(255, 255, 255, 0.436), #ffffff7c), url('images/footerBack.jpg');


}

.footerContent {
        display: flex;
        justify-content: center;
        margin: -2px 0;
        align-items: center;
        gap: 25px;
        padding: 62px 10px;
        background-image: linear-gradient(rgba(88, 103, 104, 0.923), rgba(98, 114, 116, 0.323));


}

.singleContent {
        width: 200px;
        height: 90px;

}

.icon {
        margin: 10px;

        text-align: center;
}

.icon>i {
        font-size: 25px;
        margin-bottom: 10px;

}

.singleContent h3 {
        text-align: center;
        font-size: 16px;
        margin: 5px;
}

.copyRight {
        width: 700px;
        height: 175px;
        background-color: rgba(126, 12, 109, 0.42);
        text-align: center;
        align-items: center;

}

.copyRightTitle h3 {

        padding: 40px;

}

.socialIcons {
        display: flex;
        justify-content: center;
        gap: 15px;
        margin: auto;


}