
.foodSection{
        background-color: rgba(247, 244, 240, 0.559);
        padding: 50px 0;
       
}
#foodDetails{

        width: 1600px;
        margin: auto;

}


.foodImageDetails{
        display: flex;
        justify-content: center;
        gap: 100px;
}

.foodImage{
        width: 500px;
        height: 500px;
        border: 2px solid rgba(128, 128, 128, 0.225);
        align-items: center;
        display: flex;
        justify-content: center;
        border-radius: 8px;
        overflow: hidden;
}

.foodImage img{
        width: 99%;
        height: 99%;
        cursor: pointer;
        opacity: 0.9;
        transition: 0.5s;
}

.foodImage img:hover{
        opacity: 1;
        transform: translateY(-10px);
}

.Details{
        width: 500px;
}

.name{
        margin-top: 80px;
        font-size: 25px;
        color: brown;
        font-weight: 700;     
}

.price{
        margin: 20px 0 20px 0;
        font-size: 26px;
        color: black;
        font-weight: 600;
        font-style: italic;

}

.price sub{
        
        font-size: 15px;
        color: brown;
        
}


.description{
        font-size: 17px;
        color: rgba(26, 7, 7, 0.735);
        font-weight: 500;
        letter-spacing: 1px;
        margin: 50px;
        border-top: 2px dashed #5e2b2ba7;
        border-bottom: 2px dashed #5e2b2ba7;
        padding: 5px 0;
}


.orderCartBtn{
        width: 300px;
        display: flex;
        justify-content: space-between;
}

.cartBtn{
        padding: 3px 5px;
        color: black;
        border-radius: 4px;
        border: 2px solid rgba(107, 13, 81, 0.745);
        transition: 0.5s;
}

.cartBtn:hover{
        color: white;
        background-color: black;
        transform: translate(10px);
}



.reviewShowSection{
        padding: 50px 0;
        background-color: #f7f2ec93;
}



.showAddReview{
        width: 1600px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;
        margin: auto;
      border: ;
}

.addReviewContainer{
        width: 500px;
        height: auto;
        background-color: #4f4b4f1b;
        border-radius: 5px;
}



.addReviewContainer h1{
        font-size: 20px;
        color: brown;
        font-weight: 500;
        text-align: center;
        margin: 30px auto;
        letter-spacing: 1px;
        font-style: italic;
        text-transform: uppercase;
}



.formcontent{
        margin: 10px auto;
        display: flex;
        justify-content: center;
        align-items: center;
}

.formcontent select{
        width: 300px;
        border-radius: 10px;
        height: 30px;
        border: none;
        background-color: white;
        text-align: center;
        color: black;
}

.formContainer{
       
        width: 80%;
        align-items: center;
        margin: auto;

}
.formcontent input{
        width: 300px;
        border-radius: 10px;
        height: 30px;
        border: none;
        background-color: white;
        text-align: center;
        color: black;
}




.reviewBtn button{
        border-radius: 10px;
        width: 70px;
        padding: 3px 7px;
        background-color: white;
        color: black;
        font-size: 18px;
        font-weight: 500px;
        margin: 0 0 50px 50px;
        border: 1px solid gray;
        transition: 0.5s; 
}

.reviewBtn button:hover{
        background-color: black;
        color: white; 
        transform: translateY(3px); 
}


.reviewContainer{
        width: 1000px;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        margin: auto;
        height: auto;
}



.titleReview h3{
        margin-top: 10px;
        text-align: center;
        font-size: 20px;
        color: rgb(72, 40, 40);
        text-transform: uppercase;
        letter-spacing: 1px;
        font-style: italic;
}

.titleReview h2{
        text-align: center;
        font-size:15px;
        color: rgba(34, 13, 13, 0.815);
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 20px;
        
}

.reviewCard{
        width: 350px;
        height: 130px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.329));
        align-items: center;
        border-radius: 10px 5px 10px 5px;
        transition: 0.5s;
}

.reviewCard:hover{
        transform: translateY(-5px);

}
.userAndRating{
        display: flex;
        justify-content: center;
        gap: 100px;
        margin-top: 20px;
}


.review{
        display: flex;
        justify-content: space-between;
        margin: auto;
        transition: 0.5s;
        align-items: center;
        padding: 5px 10px;
}



.review h6{
        font-size: 17px;
        letter-spacing: 1px;
        color: brown;
        text-align: center;
        display: flex;
        justify-content: center;
        
}