
.foodSection{
        background-color: rgba(247, 244, 240, 0.559);
        padding: 50px 0;
       
}
#foodDetails{

        width: 1600px;
        margin: auto;

}


.foodImageDetails{
        display: flex;
        justify-content: center;
        gap: 100px;
}

.foodImage{
        width: 500px;
        height: 500px;
        border: 2px solid rgba(128, 128, 128, 0.225);
        align-items: center;
        display: flex;
        justify-content: center;
        border-radius: 8px;
        overflow: hidden;
}

.foodImage img{
        width: 99%;
        height: 99%;
        cursor: pointer;
        opacity: 0.9;
        transition: 0.5s;
}

.foodImage img:hover{
        opacity: 1;
        transform: translateY(-10px);
}

.Details{
        width: 500px;
}

.name{
        margin-top: 80px;
        font-size: 25px;
        color: brown;
        font-weight: 700;     
}

.price{
        margin: 20px 0 20px 0;
        font-size: 26px;
        color: black;
        font-weight: 600;
        font-style: italic;

}

.price sub{
        
        font-size: 15px;
        color: brown;
        
}


.description{
        font-size: 17px;
        color: rgba(26, 7, 7, 0.735);
        font-weight: 500;
        letter-spacing: 1px;
        margin: 50px;
        border-top: 2px dashed #5e2b2ba7;
        border-bottom: 2px dashed #5e2b2ba7;
        padding: 5px 0;
}


.cartBtn{
        padding: 3px 5px;
        color: black;
        border-radius: 4px;
        border: 2px solid rgba(107, 13, 81, 0.745);
}

.cartBtn:hover{
        color: white;
        background-color: black;
}



.reviewShowSection{
        padding: 50px 0;
        background-color: #f7f2ecd4;
}

.reviewShowSection h3{
        text-align: center;
        font-size: 20px;
        color: rgb(72, 40, 40);
        text-transform: uppercase;
        letter-spacing: 1px;
        font-style: italic;
}

.reviewShowSection h2{
        text-align: center;
        font-size:15px;
        color: rgba(34, 13, 13, 0.815);
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 20px;
        
}


.reviewContainer{
        width: 1200px;
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        margin: auto;
}

.reviewCard{
        width: 310px;
        height: 160px;
        background-color: #e0dcd883;
        align-items: center;
        border-radius: 10px 5px 10px 5px;
        transition: 0.5s;
}

.reviewCard:hover{
        transform: translateY(-5px);

}

.userAndRating{
        display: flex;
        justify-content: center;
        gap: 100px;
        margin-top: 20px;
}


.review{
        display: flex;
        justify-content: space-between;
        margin: auto;
        transition: 0.5s;
        align-items: center;
        padding: 5px 10px;
}



.review h6{
        font-size: 17px;
        letter-spacing: 1px;
        color: brown;
        text-align: center;
        display: flex;
        justify-content: center;
        
}